*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

body{
    font-family: 'Poppins',sans-serif;
    height: 150vh;
    background-color: rgb(0, 0, 0);
}

.lgt-txt{
    color: white;
    border-color: white;
}

.drk-txt{
    color: black;
    border-color: black;
}

.App{
    width: 25.39%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: #282D35; */
    text-align: center;
    /* color: white; */
    border-radius: 30px;
    box-shadow: 10px 10px 10px 0px rgba(135,132,132,0.65) inset;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(135,132,132,0.65) inset;
    -moz-box-shadow: 10px 10px 10px 0px rgba(135,132,132,0.65) inset;
    position: relative;
}

.App.lgt-txt{
    background-color: #282D35;
}

.App.drk-txt{
    background-color: #fff;
}

.image span{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 32px;
    color: white;
    z-index: 3;
}

/* .image span::before{
    content: '';
    position: absolute;
    right: -4px;
    top: -2px;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
} */

.image .modebg{
    position: absolute;
    right: 5.9px;
    top: 8px;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

/* .image span.lightmode{
    visibility: visible;
}

.image span.darkmode{
    visibility: hidden;
} */

.image img{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 30px;
    padding: 15px;
    padding-top: 22px;
    
}

.intro h4{
    margin: 10px;
    color: orange;
}

.intro a{
    /* color: white; */
    text-decoration: none;
    font-size: 10px;
    border: 1px solid;
    border-radius: 20px;
    padding: 7px;
    transition: all 0.5s;
}


.buttons{
    margin-top: 16px;
}

.buttons button{
    height: 50px;
    width: 120px;
    padding: 15px;
    font-family: 'Poppins';
    border-width: 0;
    border-radius: 8px;
    margin: 5px 10px;
    cursor: pointer;
}

.buttons button:hover{
    transform: scale(1.07);
    transition: all 0.5s;
}

.buttons button.email-btn{
    background-color: #fff;
    color: black;
}

.buttons button.email-btn:hover{
    box-shadow: 0px 8px 12px 4px rgba(255,255,255,0.63);
    -webkit-box-shadow: 0px 8px 12px 4px rgba(255,255,255,0.63);
    -moz-box-shadow: 0px 8px 12px 4px rgba(255,255,255,0.63);
}

.buttons button.linkedin-btn{
    background-color: rgb(31, 142, 245);
    color: rgb(255, 255, 255);
}

.buttons button.linkedin-btn:hover{
    box-shadow: 0px 8px 12px 4px rgba(31,142,245,0.63);
    -webkit-box-shadow: 0px 8px 12px 4px rgba(31,142,245,0.63);
    -moz-box-shadow: 0px 8px 12px 4px rgba(31,142,245,0.63);
}

.buttons .btn-icon{
    font-size: 18px;
    margin: -3.5px 5px;
}

.about{
    text-align: left;
    margin-bottom: 30px;
}

.about div{
    margin: 20px 30px;
}

.about div h3{
    font-weight: 500;
}

.about div p{
    font-size: 10px;
    color: rgb(190, 190, 190);
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 10px 10px 0px rgba(135,132,132,0.65) inset;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(135,132,132,0.65) inset;
    -moz-box-shadow: 10px 10px 10px 0px rgba(135,132,132,0.65) inset;
}

.socials .icon{
    height: 32px;
    width: 24px;
    margin: 20px 16px;
    color: rgb(114, 114, 114);
    cursor: pointer;
    transition: all 0.4s;
}

.socials .icon:hover{
    color: white;
}
